.courses-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 0.959);
  padding-bottom: 50px;
}
.courses-container h3.info {
  color: #ca3f11;
  font-size: 1.5em;
}
.courses-container p {
  font-size: 1.2em;
}
.mg-left-20 {
  margin-left: 20px;
}
.mg-right-20 {
  margin-right: 20px;
}
.card-inner {
  margin: 30px 30px;
  min-width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;

}
.card-inner p {
  font-weight: 600;
}
.maconerie {
  text-align: right;
}