.courses-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.margin-bottom {
  margin-bottom: 20px;
}

.courses-card-container {
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.courses-card-container.left {
  justify-content: flex-start;
}
.courses-card-container.right {
  justify-content: flex-end;
}
