.courses-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.margin-bottom {
  margin-bottom: 20px;
}


.courses-card-container {
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.courses-card-container.left {
  justify-content: flex-start;
}
.courses-card-container.right {
  justify-content: flex-end;
}
/* 
.condition {
  text-align: inherit;
  color: black;
  margin: 20px 200px 30px 200px;
}
.pic-container {
  margin-right: 10%;
  display: flex;
}
.pic-container1 {
  margin-left: 10%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.pic {
  background-image: url("https://www.ftqp-isp.com/images/originales/qbb4cp8jkcdnn7m3qnr63jhqr.jpg");
  width: 600px;
  height: 400px;
  background-size: contain;
}
.pic1 {
  background-image: url("https://www.ftqp-isp.com/images/originales/kj7df41bjpri3375f191pjai3.jpg");
  width: 600px;
  height: 400px;
  background-size: contain;
}
.cards {
  width: 600px;
  height: 400px;
  background-color: black;
}
.cards1 {
  width: 600px;
  height: 400px;
  background-color: black;
}
.card-content {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */
