.footer-background {
  background-color: #222a35;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  color: white;
}

@media screen and (max-width: 769px) {
  .footer-background {
    height: 70vh;
    padding-top: 50px;
  }
}
@media screen and (max-width: 426px) {
  .footer-background {
    height: 100vh;
  }
}
