.info-table {
  height: 200px;
  width: 95%;
  margin-left: 5%;
  font-size: 1.2em;
}
.td-logo {
  width: 10%;
}
.td-logo img {
  height: 40px;
  width: 40px;
}
.td-info {
  text-align: left;
}

@media screen and (max-width: 426px) {
  .td-logo img {
    height: 30px;
    width: 30px;
  }
  .info-table{
    font-size: 1em;
  }
}
