.title {
  height: 80px;
}
.title h2 {
  text-transform: capitalize;
  color: white;
  font-size: 1.8em;
}

.title.left {
  background-color: #222a35;
  margin: 85px 250px 0 0;
  border-radius: 0 20px 20px 0;
}
.title.right {
  background-color: #ca3f11;
  margin: 85px 0 0 250px;
  border-radius: 20px 0 0 20px;
}
.inner-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-title.left {
  margin: auto 0 auto 250px;
}
.inner-title.right {
  margin: auto 250px auto 0;
}
