.title {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-left {
  margin: 60px 200px auto 0;
  border-radius: 0 20px 20px 0;
  background-color: #222a35;
}
.title-left h2 {
  margin-left: 200px;
}
.title h2 svg {
  margin-right: 10px;
}
.title-right {
  margin: 60px 0 auto 200px;
  border-radius: 20px 0 0 20px;
  background-color: #ca3f11;
}
.title-right h2 {
  margin-right: 200px;
}