#contact{
    min-height: 100vh;
}
.contact-top {
    background-color: white ;
    padding-bottom: 100px;
}
.contact-bottom {
    height: 100px;
    width: 100%;
    background-color: white;
}

.visible{
   margin-top:20px;
    color:white;
    text-align:center;
    font-size: 1rem;
    margin-bottom:15px;
    height: 100px;
}

.invisible {
    color:white;
    
    margin-bottom:15px;
}