
.sponsors {
  background: rgba(255, 255, 255, 0.959);
}

@media (max-width: 769px) {

  .task {
    display: none;
  }
  .main-container.sponsors {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
  }
  
  .footer-line{
    height: 50px;
  }
  
  

}
