.icon-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 0fr 0fr 0fr 0fr;
  margin: 205px 250px 50px 250px;
  height: 50vh;
  grid-row-gap: 10%;
}
.sponsors {
  background: rgba(255, 255, 255, 0.959);
}

@media (max-width: 769px) {
  .hi {
    display: none;
  }
  .map {
    display: none;
  }
  .task {
    display: none;
  }
  
}
