.container-left-right{
    background-color: #D9D9D9;
    height: 250px;
    width: 250px;
    
}

.container-middle{
    background-color:white;
    height: 80vh;
    width: 100%;
    display: flex;
}



.div-container{
    display: flex;
    align-items:center;
}

.content-container-middle{
    background-color: #222A35;
    width: 60%;
    height: 100%;
    border-radius: 20px;
    z-index: 1;
}

.picture{
    height: 100%;
    width: 40%;
    background-image: url("../assets/1.jpg");
    background-size: cover;
    transform: translate(-20px);
    z-index: 0;
}


