.side {
  height: 700px;
  width: 12%;
  display: flex;
  flex-direction: column;
}

.side .shape {
  height: 30%;
  width: 100%;
  background-color: white;
}

.side .rectangle {
  background: rgba(255, 255, 255, 0.959);
  height: 40%;
  width: 100%;
}

.middle-container {
  background-color: white;
  height: 700px;
  width: calc(100% - 24%);
  display: flex;
  justify-content: flex-end;
  font-size: 1.6em;
}

.contactcard-container {
  display: flex;
  align-items: center;
  height: 80%;
}

.contactcard {
  background-color: #222a35;
  /* width: 40%; */
  height: 100%;
  width: 40%;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contactcard-right {
  height: 100%;
  width: 40px;
  background-color: #222a35;
  border-radius: 0 20px 20px 0;
}

.contact-card-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.title-bar {
  width: calc(100% - 40px);
  height: 50px;
  border-radius: 20px 0 0 20px;
  background-color: #ca3f11;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.title-bar-right {
  width: 100%;
  height: 50px;
  background-color: #ca3f11;
  margin-top: 40px;
}

.question {
  color: white;
  padding-left: 20px;
}

.picture {
  height: 100%;
  width: 60%;
  background-image: url("../assets/1.jpg");
  background-size: cover;

  border-radius: 0 20px 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: calc(100% - 40px);
}

form input {
  height: 50px;
  border-radius: 20px;
}

form textarea {
  height: 120px;
  width: calc(100% - 40px);
  border-width: 0;
  padding: 20px;
  border-radius: 20px;
}

input,
textarea {
  background-color: #d9d9d9;
  font-family: Raleway;
  border: none;
  resize: none;
  outline: none;
  font-size: 0.6em;
}

input {
  padding-left: 20px;
}

::placeholder {
  color: #222a35;
}

.form-top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-middle-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.form-middle-container input {
  width: calc(45% - 20px);
}

.form-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-contact-page {
  width: 180px;
  height: 50px;
  background: #ca3f11;
  border-radius: 20px;
  padding: 0;
  border-width: 0;
  color: white;
  font-size: 0.7em;
  cursor: pointer;
}

.visible-warning-message {
  color: white;
  text-align: center;
  font-size: 0.7em;
  /* margin-bottom:15px !important; */
  /* height: 100px; */
}

.invisible-warning-message {
  color: white;
  display: none;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1024px) {

  .contactcard {
    width: 55%;
  }

  .picture{
    width: 45%;
  }
 .middle-container {
  justify-content: center;
}
}


@media only screen and (max-width: 769px) {
  .side {
    width: 8%;
  }

  .middle-container {
    width: calc(100% - 16%);
  }
  .contactcard {
    width: 65%;
  }

  input,
  textarea {
    font-size: 0.7em;
  }

  .visible-warning-message {
    margin-top: 5px !important;
  }

  form textarea {
    height: 100px;
  }

  .picture {
    height: 100%;
    width: 50%;
    background-image: url("../assets/1.jpg");
    background-size: cover;
    background-position: left;
    border-radius: 0 20px 20px 0;
  }
}

@media only screen and (max-width: 600px) {
  .title-bar {
    width: calc(100% - 25px);
  }
  input,
  textarea {
    font-size: 0.6em;
  }

  .middle-container {
    width: calc(100% - 16%);
    height: 580px;
  }
  .side {
    height: 580px;
  }
  form .mg-top-40 {
    margin-top: 20px;
  }

  .contactcard {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .picture {
    display: none;
  }
}

/* @media only screen and (max-width: 400px) {

  .side{
    width: 10%;
  }

  

   .middle-container{
    width: calc(100% - 10%);
  }
  

} */
