.navbar {
  position: fixed;
  z-index: 200;
  height: 120px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.shrink {
  height: 80px;
  background-color: #222a35;
  border-bottom: 1px solid #ca3f11;
}
.shrink .inner-navbar-left img {
  height: 52px;
  width: 120px;
}
.inner-navbar {
  margin: 0 250px;
  height: 100%;
  display: flex;
}
.inner-navbar-left {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-navbar-left img {
  height: 87px;
  width: 200px;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}
.inner-navbar-right {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-navbar-right ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 40px);
  width: 90%;
  padding: 0;
}
.inner-navbar-right ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner-navbar-right ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: flex-end;
  transition: color 0.5s ease-in-out;
}
.inner-navbar-right ul li a:hover {
  color: #ca3f11;
}
.inner-navbar-right ul li a:hover + .bar {
  width: 40px;
}
.inner-navbar-right ul li a svg {
  margin-right: 5px;
  height: 25px;
  width: 25px;
}
.bar {
  margin-top: 10px;
  width: 0px;
  transition: width 0.5s ease-in-out;
  height: 2px;
  background-color: red;
  border-radius: 20px;
}

.inner-navbar-right ul .active a {
  color: #ca3f11;
}

.active .bar {
  width: 40px;
}
.menu-burguer {
  display: none;
}
.inner-navbar-right ul li.x-mark {
  display: none;
}
@media screen and (max-width: 769px) {
  .inner-navbar {
    margin: 0 100px;
  }
  .inner-navbar-left img {
    height: 52px;
    width: 120px;
  }
  .inner-navbar-right {
    justify-content: flex-end;
  }
  .menu-burguer {
    display: flex;
    color: white;
    font-size: 2em;
  }
  .inner-navbar-right ul {
    padding-top: 50px;
    flex-direction: column;
    background-color: #222a35;
    position: fixed;
    width: 100vw;
    height: 400px;
    left: 0;
    top: 0;
    z-index: 10000;
    margin: 0;
    transition: transform 0.5s ease-in-out;
    border-bottom: 1px solid #ca3f11;
    transform: translateY(-100%);
  }
  .inner-navbar-right ul.translated {
    transform: translateY(0);
  }
  .inner-navbar-right ul li {
    width: 100%;
    height: 60px;
  }
  .inner-navbar-right ul li.x-mark {
    display: flex;
    font-size: 1.6em;
    align-items: flex-end;
    padding-right: 50px;
    color: white;
  }
}
