#galerie {
  min-height: initial;
}

.gallery-top {
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.959);
  /* border: 1px pink solid; */
}

.gallery-container {
  width: 100%;
  padding: 100px 0px;
}

.img-gallery {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  cursor: pointer;
}
.gallery-bottom {
  background-color: rgba(255, 255, 255, 0.959);
  height: 130px;
}

.square {
  height: 500px;
  width: 500px;
  background-color: aqua;
}
.gallery .owl-nav {
  display: flex;
  justify-content: space-between;
  height: 0;
}
.owl-theme.gallery .owl-nav [class*="owl-"] {
  background-color: #222a35;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translate(0, -285px);
  color: white;
}
.owl-theme.gallery .owl-nav [class*="owl-"]:hover {
  color: #ca3f11;
}
.owl-theme.gallery .owl-nav [class*="owl-"] span {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  padding-bottom: 7px;
}
@media screen and (max-width: 769px) {
  .img-gallery {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 426px) {
  .gallery-container {
    width: 100%;
    padding: 0;
  }
  .gallery-bottom {
    height: 50px;
  }
  .img-gallery {
    width: 350px;
    height: 350px;
  }
}
