#gallery {
    height: 100vh;
    background:white;
}

.gallery-top{
    padding-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.959) ;
    /* border: 1px pink solid; */
}

.gallery-container {
    height: inherit;
    width: 100%;
    /* border: 1px red solid; */
    padding: 100px 0px;     
}

.img-gallery {
    width: 500px;
    height: 500px;
    background-size:cover;
    background-position: center;
    border-radius:40px;
    background-color:white;       
    /* border: 2px blue solid; */
}

.gallery-bottom {
    background-color: rgba(255, 255, 255, 0.959) ;
    padding-bottom:50px;
}