.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin: 0;
  letter-spacing: initial;
  text-transform: capitalize;
}
