.card {
  height: 500px;
  background-color: aqua;
  margin: 0 200px auto 0;
  display: flex;
}
.card-photo {
  position: relative;
  height: 100%;
  width: 60%;
  background-size: cover;
  background-image: url("https://www.ftqp-isp.com/images/originales/qbb4cp8jkcdnn7m3qnr63jhqr.jpg");
}
.card-box {
  width: 83.33333333333333%;
  transform: translate(100%, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.85) 0%,
    rgba(255, 255, 255, 0) 48.96%,
    rgba(241, 240, 240, 0.85) 100%
  );
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.inner-card-box {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 20px;
  height: 95%;
  width: 97%;
}
