.info-card {
    height: 85%;
    width: calc(100% - 20px);
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }